<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <script src="js/bootstrap.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            <code>drush {{ title }}</code>

            {% if aliases %}
                <h2>Aliases:</h2>
                <ul>
                    {% for alias in aliases %}
                        <li>{{ alias }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if arguments %}
                <h2>Arguments:</h2>
                {% for key, argument in arguments %}
                    <code>{{ key }} : {{ argument }}</code><br/>
                {% endfor %}
            {% endif %}

            {% if options %}
                <h2>Options:</h2>
                {% for key, option in options %}
                    <code>--{{ key }} : {{ option }}</code><br/>
                {% endfor %}
            {% endif %}

            {% if examples %}
                <h2>Examples:</h2>
                {% for key, example in examples %}
                    <p>{{ example }}</p>
                    <code>{{ key }}</code><br/><br/>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
